pkgbase = unbounded-fonts
	pkgdesc = Unbounded font family (TTF, WOFF, and Variable formats)
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/w3f/unbounded
	arch = any
	license = custom
	depends = fontconfig
	depends = xorg-font-utils
	source = https://github.com/w3f/unbounded/archive/refs/heads/main.zip
	sha256sums = SKIP

pkgname = unbounded-fonts
